// contact part start
section#contact_part.contact_part
	.container
		.row.justify-content-center.text_con
			.col-lg-8.text-center
				.section_heading
					h2
						| get in 
						span touch
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, obcaecati! ipsum dolor sit amet, consectetur.
		.row.justify-content-center.text_con
			.col-lg-3.col-md-3.col-md-3.text-center
				.contact_text
					i.fas.fa-mobile-alt
					h2 Phone
					p +88 0123456789
			.col-lg-3.col-md-3.col-md-3.text-center
				.contact_text
					i.fas.fa-envelope-open
					h2 Email
					p www.demo123@gmail.com
			.col-lg-3.col-md-3.col-md-3.text-center
				.contact_text
					i.fas.fa-location-arrow
					h2 Adress
					p Apartment 6, West, New York
		.row.justify-content-center
			.col-md-10.text-center.py-4
				form
					.form-row
						.col-md-4.form_break
							input.form_control(type="text" placeholder="Your Name")
						.col-md-4.form_break
							input.form_control(type="email" imageplaceholder="Email Adress")
						.col-md-4.form_break
							input.form_control(type="text" placeholder="Subject")
					.form-group
						textarea#message(name="ab" placeholder="Message")
					button.btn.button(type="submit") send message
// contact part end
// footer part start
section.footer_part
	.container
		.row.align-items-center.footer_border_br
			.col-lg-4.text-center
				.footer_icon
					a(href="#")
						i.fab.fa-facebook-f
					a(href="#")
						i.fab.fa-twitter
					a(href="#")
						i.fab.fa-google
					a(href="#")
						i.fab.fa-instagram
			.col-lg-4.text-center
			.col-lg-4.text-center
				.footer_left
					p
						| © All Right Reserved 
						span ANANDO
						|  2018
// footer part end
// back to top buuton
.backtotop
	i.fas.fa-arrow-up
// back to top buuton