// nav_part start
nav.navbar.navbar-expand-lg.navbar-light.custom_nav
	.container
		a.navbar-brand(href="#")
			img(src="images/logo.png" alt="logo")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#mynav.collapse.navbar-collapse
			ul.nav.nav-pills.ml-auto
				li.nav-item.active
					a.nav-link(href="#home") Home
				li.nav-item
					a.nav-link(href="#about_part") About
				li.nav-item
					a.nav-link(href="#service_part") Services
				li.nav-item
					a.nav-link(href="#portfolio_part") Portfolio
				li.nav-item
					a.nav-link(href="#education_part") Education
				li.nav-item
					a.nav-link(href="#testimonial_part") Testimonial
				li.nav-item
					a.nav-link(href="#blog_part") Blog
				li.nav-item
					a.nav-link(href="#contact_part") Contact
// nav_part end
// banner part start
section#home.banner_part_five
	#particles-js
	.container
		.banner_text_two.text-center
			h2 Hello World! I'm
			h3 Jonathan Williams
			.typed
				span.type
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem earum dolorum, velit hic sapiente perferendis voluptatem nisi, reiciendis aspernatur dolor!
			.banner_button
				a.button.btn_one(href="#") hire me
				a.button.btn_one(href="#") contact Me
// banner part end