//-title
-var siteName = 'Title';
//-responsive
-var responsive = true;
//- css
-
	var cssList = [
		'https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700',
		'https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900',
		'css/bootstrap.min.css',
		'css/fontawesome-all.min.css',
		'css/slick.css',
		'css/lightbox.min.css',
		'css/style.css',
		'css/responsive.css'
	];
//- javactipt
-
	var scriptList = [
		"js/jquery-1.12.4.min.js",
		"js/bootstrap.min.js",
		"js/popper.min.js",
		"js/jquery.counterup.min.js",
		"js/jquery.filterizr.min.js",
		"js/particles.min.js",
		"js/jquery.barfiller.js",
		"js/slick.min.js",
		"js/typed.min.js",
		"js/waypoints.min.js",
		"js/lightbox.min.js",
		"js/app.js",
		"js/script.js"
	];




		
		
		
		
		
		
		
		
		
		
		
		
		